
body h1{
    text-align: center;

    margin: 0px;
    padding: 40px;
    border-bottom: 2px solid white;
   
}
.keynote{
    
    background-color:#337ab7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 102%;
<<<<<<< HEAD

=======
>>>>>>> b9b7710efcfd15d3e5414a0042d1c4e840a37e1b
}
.card{
    box-shadow: 5px 5px 5px 4px rgba(57, 57, 58, 1);
    margin: 20px;
    padding: 20px;
    background-color:white;

}
.card-title{
    color: black;
    text-align: center;
    margin:auto;
    padding:10px;
    
}

.mine {
    position: relative;
    top: 40px;
}

.img1{
    max-width: 95%;
    height: 140px;

}
