
h1{
    text-align: center;
    margin: 10px;
    padding: 40px;
    color: #337ab7;
    /* border-bottom: 1px solid blue; */

}
.org1{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.org2{
    border:2px solid #337ab7;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    /* height: 200px; */
    margin: 20px;
    /* background: rgb(2, 165, 230); */
    
    color: rgb(24, 81, 187);



}
.htwo{
    border-bottom: 2px solid #337ab7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background: #337ab7;
    color:white;

}
.li1{
    list-style: none;
    text-align: center;
    padding: 10px;
    color: rgb(10, 47, 116);
    border-bottom: 1px solid #337ab7;


}

@media(max-width:720px){
    .org2{
        width: 84%;
    }
}
